<h2 md-dialog-title>{{submission.title}}</h2>
<md-dialog-content>
    <div [innerHTML]="submission.selftext|snudown"></div>
</md-dialog-content>
<div md-dialog-actions>
    <button md-icon-button (click)="upvote()">
        <md-icon [ngClass]="{positive:voteState==1}">thumb_up</md-icon>
    </button>
    <button md-icon-button (click)="downvote()">
        <md-icon [ngClass]="{negative:voteState==-1}">thumb_down</md-icon>
    </button>
    <div class="spacer"></div>
    <a target="_blank">
        <button md-icon-button>
            <md-icon>link</md-icon>
        </button>
    </a>
    <a target="_blank" href="{{submission.url}}">
        <button md-icon-button>
            <md-icon>launch</md-icon>
        </button>
    </a>
    <a target="_blank" href="https://www.reddit.com/u/{{submission.author}}">
        <button md-icon-button>
            <md-icon>account_circle</md-icon>
        </button>
    </a>
</div>